[submodule "libraries/MCAD"]
	path = libraries/MCAD
	url = https://github.com/openscad/MCAD.git
[submodule "libraries/ScrewMetric"]
	path = libraries/ScrewMetric
	url = https://github.com/More-Wrong/ScrewsMetric.git
[submodule "libraries/catchnhole"]
	path = libraries/catchnhole
	url = https://github.com/mmalecki/catchnhole.git
[submodule "libraries/UB.scad"]
	path = libraries/UB.scad
	url = https://github.com/UBaer21/UB.scad.git
[submodule "libraries/Round-Anything"]
	path = libraries/Round-Anything
	url = https://github.com/Irev-Dev/Round-Anything.git
[submodule "libraries/NopSCADlib"]
	path = libraries/NopSCADlib
	url = https://github.com/nophead/NopSCADlib.git
